html{
  width:100vw;
  margin:0;
}
body{
  width:90%;
  margin-left:4rem;
}
#light{
  background-color:#fff;
  color:black;
}
#dark{
  background-color:hsl(209, 23%, 22%);;
  color:white;
}
.container{
  width:100%;
  height:100%;
}
.content{
  display:flex;
  flex-direction:column;
}
.header{
  width:98%;
  height:3rem;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  padding-left:2rem;
  display:flex;
  align-items:center;
  column-gap:75rem;
}
.mode-toggle{
  display:flex;
  align-items:center;
  column-gap:0.5rem;
}
.mode-toggle button{
  border:none;
  font-weight:bold;
}
.header h2{
  padding-top:0.5rem;
}
.search-input{
  height:3rem;
  width:30rem;
  margin-top:2rem;
  margin-left:4rem;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  display:flex;
  column-gap:1rem;
  align-items:center;
  border-radius: 0.5rem;
}
.search-icon{
  padding-left:1rem;
  font-weight:bolder;
}
.search-input input{
  background-color:transparent;
  border-style:none;
  width:100%;
  height:100%;
}
.search-input input::placeholder{
  font-weight:bold;
}
.filter-container{
  width:100%;
  display:flex;
  align-items:center;
  column-gap:20rem;
  margin-bottom:0.5rem;
}
.region-container,
.currency-container{
  width:auto;
  height:3rem;
  padding:0.5rem;
  margin-top:2rem;
  background-color: transparent;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  border-style:none;
  font-weight: bold;
  border-radius: 0.5rem;
}
.option{
  font-weight: bold;
  color:black;
}
.country-card{
  width:92%;
  display:flex;
  flex-wrap:wrap;
  column-gap:3.5rem;
  padding:4rem;
  row-gap:2rem;
}
.country{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  margin-bottom:6rem;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.2);
  padding-bottom:3rem;
  border-radius: 0.5rem;
}
#dark .country{
  color:white;
}
#light .country{
  color:black;
}
.country img{
  object-fit:fit;
  height:10rem;
  width:20rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.country-link{
  text-decoration:none;

}
.country-info{
  display:flex;
  flex-direction:column;
  row-gap:0.5rem;
  padding-left: 1rem;
  padding-top:2rem;
}
.country-info h2,h4{
  width:19rem;
  margin:0;
}
.country-info span{
  font-weight: 500;
}
.country-detail-info{
  display:flex;
  flex-direction: column;
  height:100vh;
}
.back-button{
  border:none;
  font-weight:bold;
  background:transparent;
}
.arrow-icon{
  padding-left:0.5rem;
  color:white;
  color:black;
}
.back-button-container{
  width:6rem;
  height:2rem;
  display:flex;
  align-items:center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom:4rem;
  margin-top:2rem;
  margin-left: 3rem;
}
.single-country-data{
  display:flex;
  column-gap:8rem;
  margin-left:4rem;
  margin-top:3rem;
}
.flag-container{
  width:30rem;
  height:20rem;
}
.flag-container img{
  width:100%;
  height:100%;
}
.single-country-details1 span,
.single-country-details2 span{
  font-weight:500;
}
.borders{
  margin-left:40rem;
  margin-top:-5rem;
}
.borders button{
  margin-left:1rem;
  height:2rem;
  border:none;
  box-shadow:0 2px 4px,rgba(0, 0, 0, 0.2);
}
.mode-button{
  background-color: transparent;
}
